<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antique Exchange</title>
    <link rel="shortcut icon" href="assets/images/antique_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <%- include('header'); -%>
    <%- include('section'); -%>
    <!-- Display sellerItems -->
    <div class="seller-items">
        <h2>Seller Items</h2>
        <ul>
            <% sellerItems.forEach((item) => { %>
                <li>
                    <!-- Display item details, you can modify this as needed -->
                    <img src="<%= item.SellerItemImage %>" alt="Item Image">
                    <h3><%= item.SellerItemPrice %></h3>
                    <p><%= item.SellerCategory %></p>
                    <p><%= item.SellerItemDescription %></p>
                </li>
            <% }); %>
        </ul>
    </div>
    <footer></footer>
</body>

</html>