<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antique Exchange</title>
    <link rel="shortcut icon" href="/assets/images/antique_icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <%- include('header'); -%>
    <%- include('section'); -%>
    <!-- Display sellerItems -->
    <div class="seller-items">
        <!-- Check if sellerItems object is not empty before rendering the section -->
        <% if (typeof sellerItems !== 'undefined' && Object.keys(sellerItems).length > 0) { %>
            <h2>New Arrivals</h2>
            <% for (const category in sellerItems) { %>
                <h3><%= category %></h3>
                <ul class="seller-items-list">
                    
                    <% const categoryItems = sellerItems[category]; %>
                    <% for (let i = 0; i < Math.min(categoryItems.length,5); i++) { %>
                        <li class="seller-items">
                            <!-- Display item details, you can modify this as needed -->
                            <div class="sellerimage"><img class="seller-item-image" src="<%= categoryItems[i].SellerItemImage %>" alt="Item Image"></div>
                            <h3 class="seller-item-name"><%= categoryItems[i].SellerItemName %></h3>
                            <p class="seller-item-price">₹<%= categoryItems[i].SellerItemPrice %><span class="randomPrice">₹2500</span></p>
                            <p class="seller-item-category"><%= categoryItems[i].SellerCategory %></p>
                        </li>
                        <!-- Add a "View More" button at the end of each category -->
                        <% if (i === Math.min(categoryItems.length,4)) { %>
                            <div class="vmbtn"><a class="view-more-button" href="/category/<%= category %>">View More</a></div>
                        <% } %>
                    <% } %>
                </ul>
            <% } %>
        <% } %>
    </div>
    <footer></footer>
</body>
</html>